<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <title>Gateways Manager</title>
</head>

<body>
  <div class="container">
    <h1 class="mb-4">Gateways Manager</h1>
    <a href="/gateways/new" class="btn btn-success">New Gateway</a>
    <a href="/peripherals/new" class="btn btn-success">New Peripheral</a>
    <a href="/gateways/info" class="btn btn-primary">Show All Info</a>

    <% gateways.forEach(gateway => { %>
      <div class="card mt-2">
        <div class="card-body">
          <h4 class="card-title"><%= gateway.name %></h4>
          <div class="card-subtitle mb-2">Serial No: <%= gateway.serialNo %></div>
          <div class="card-subtitle mb-2">IPv4 Address: <%= gateway.ipAddress %></div>
          <a href="/gateways/<%= gateway.slug %>" class="btn btn-primary">Details</a>
          <form action="/gateways/<%= gateway.id %>?_method=DELETE" method="POST" class="d-inline">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </div>        
      </div>
    <% }) %>
  </div>
</body>

</html>